In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
address_url = "C:/Users/abhil/Desktop/Python/DataSet/hi.csv"
address = pd.read_csv(address_url)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
address.head(15)

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-108.916154,40.067681,6849,NaN,NaN,RANGELY,NaN,NaN,0,NaN,7225222c76e3151e
1,-108.916840,40.068216,NaN,NaN,NaN,RANGELY,NaN,NaN,0,NaN,2610a0c6adf8f59d
2,-108.754104,40.091879,2252,NaN,NaN,RANGELY,NaN,NaN,0,NaN,5b9bb573939e24fe
3,-108.750019,40.099442,2538,NaN,NaN,RANGELY,NaN,NaN,0,NaN,de0357268651fc57
4,-108.745891,40.099260,2802,Highway 64,NaN,RANGELY,NaN,NaN,81648,NaN,abce82e528541afb
5,-107.222941,40.196383,64,County Road 19,NaN,HAMILTON,NaN,NaN,0,NaN,a9d8e49d96a7a30e
6,-107.473271,40.201483,3,County Road 121,NaN,MEEKER,NaN,NaN,0,NaN,71b8e4767fcce989
7,-107.911794,40.039613,465,4Th Street,NaN,MEEKER,NaN,NaN,81641,NaN,710af212a0857c88
8,-107.914712,40.049985,1144,Michael Circle,NaN,MEEKER,NaN,NaN,0,NaN,e8d3c799a907a033
9,-107.918355,40.043927,795,Pine Street,NaN,MEEKER,NaN,NaN,81641,NaN,e1e679512493c1a0
10,-107.913771,40.045590,1021,Julie Circle,NaN,MEEKER,NaN,NaN,0,NaN,ee0f112a320e61c5
11,-107.909853,40.042715,259,Hill Street,NaN,MEEKER,NaN,NaN,81641,NaN,2bac5b8b36b730cb
12,-107.911015,40.057437,901,County Road 11,NaN,MEEKER,NaN,NaN,0,NaN,aa8de853b2dfb3b1
13,-107.920944,40.041304,711,10Th Street,NaN,MEEKER,NaN,NaN,81641,NaN,350138002765f524
14,-107.913372,40.054573,1449,Mountain View Road,NaN,MEEKER,NaN,NaN,81641,NaN,08b21cef0db83baa

In [5]:
address.describe()

                 LON            LAT  DISTRICT       POSTCODE   ID
count  274328.000000  274328.000000       0.0   41381.000000  0.0
mean     -157.839287      21.361650       NaN   85727.105942  NaN
std         0.772911       0.307495       NaN   31104.728379  NaN
min      -160.540175      20.579725       NaN       0.000000  NaN
25%      -158.023225      21.291784       NaN   96732.000000  NaN
50%      -157.865663      21.353444       NaN   96761.000000  NaN
75%      -157.753594      21.429002       NaN   96790.000000  NaN
max      -155.977398      22.234519       NaN  996732.000000  NaN

In [5]:
print(address.columns.values)

['LON' 'LAT' 'NUMBER' 'STREET' 'UNIT' 'CITY' 'DISTRICT' 'REGION'
 'POSTCODE' 'ID' 'HASH']

In [6]:
address.isna().head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,False,False,False,False,True,False,True,True,True,True,False
1,False,False,False,False,True,True,True,True,True,True,False
2,False,False,False,False,True,True,True,True,True,True,False
3,False,False,False,False,True,True,True,True,True,True,False
4,False,False,False,False,True,True,True,True,True,True,False

In [7]:
print(address.isna().sum())

LON               0
LAT               0
NUMBER        21546
STREET        28833
UNIT        1850949
CITY         709913
DISTRICT    2190243
REGION      2190243
POSTCODE     141997
ID          2190243
HASH              0
dtype: int64

In [7]:
address = address.drop(['NUMBER','STREET', 'UNIT','CITY', 'DISTRICT', 'REGION', 'POSTCODE', 'ID', 'HASH'], axis=1)

export_csv = address.to_csv(r'C:\Users\abhil\Desktop\Python\DataSet\address2.csv', index = None, header=True)

In [8]:
address.mean()

LON   -157.839287
LAT     21.361650
dtype: float64

In [9]:
address.info

<bound method DataFrame.info of                LON        LAT
0      -157.833127  21.300769
1      -157.721942  21.289418
2      -157.722200  21.288880
3      -157.722751  21.290175
4      -157.724095  21.370414
5      -157.723510  21.369894
6      -157.723346  21.370603
7      -157.722639  21.369971
8      -157.723396  21.369216
9      -157.722406  21.369498
10     -158.182491  21.438742
11     -157.724064  21.394007
12     -157.724005  21.394350
13     -158.102806  21.591837
14     -157.923679  21.648576
15     -158.032432  21.404083
16     -157.857496  21.481120
17     -157.747145  21.402566
18     -157.852518  21.482457
19     -158.039513  21.644256
20     -157.871313  21.309920
21     -158.060083  21.333681
22     -157.987772  21.388771
23     -158.029405  21.403142
24     -157.827798  21.346220
25     -158.029075  21.685753
26     -157.855710  21.333927
27     -158.038295  21.521637
28     -157.861784  21.348267
29     -157.900835  21.374691
...            ...        ...
274298 -156.504088  20.874526
274299 -156.504071  20.874303
274300 -156.504087  20.874150
274301 -156.504072  20.874013
274302 -156.504047  20.873875
274303 -156.504022  20.873732
274304 -156.504000  20.873584
274305 -156.503977  20.873435
274306 -156.503963  20.873286
274307 -156.503971  20.873096
274308 -156.503917  20.872909
274309 -156.503900  20.872772
274310 -156.503882  20.872635
274311 -156.503858  20.872498
274312 -156.503832  20.872361
274313 -156.503810  20.872224
274314 -156.503791  20.872087
274315 -156.503791  20.871505
274316 -156.504288  20.871431
274317 -156.504740  20.871352
274318 -156.504492  20.871257
274319 -156.272215  20.934316
274320 -156.233757  20.929230
274321 -156.515102  20.880181
274322 -156.465903  20.783612
274323 -156.688462  20.947632
274324 -156.322287  20.824923
274325 -156.297105  20.858882
274326 -156.510162  20.921632
274327 -156.508367  20.888625

[274328 rows x 2 columns]>

In [10]:
from sklearn.cluster import KMeans
import numpy as np

X = np.array(address)
kmeans = KMeans(n_clusters=10, random_state=0).fit(X)

In [11]:
kmeans.labels_

array([1, 9, 9, ..., 7, 2, 2])

In [13]:
kmeans.cluster_centers_[2]

array([-156.54295542,   20.89514935])

In [21]:
for i in range(len(kmeans.cluster_centers_)):
    print(kmeans.cluster_centers_[i])

[-159.37698988   22.08495264]
[-157.82741232   21.30694942]
[-156.54295542   20.89514935]
[-158.00915687   21.53849399]
[-157.99935898   21.37863374]
[-159.56020689   21.92755484]
[-156.05478361   20.74905005]
[-156.36169223   20.80688097]
[-158.17155891   21.42832332]
[-157.75390329   21.37407963]

for i in range(kmeans.cluster_centers_):
    for j in range(len(address)):
        print(address)

In [34]:
LongLatCount = [
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,0],0],
    [[0,5],0]
]
LongLatCount[9][1]

0

In [36]:
for i in range(len(kmeans.cluster_centers_)):
    LongLatCount[i][0][0] = round(kmeans.cluster_centers_[i][0],2)
    LongLatCount[i][0][1] = round(kmeans.cluster_centers_[i][1],2)
    for j in range(len(address)):
        if round(address['LON'][j],2)== LongLatCount[i][0][0] and round(address['LAT'][j],2)== LongLatCount[i][0][1]:
            LongLatCount[i][1] +=1
            
LongLatCount

[[[-159.38, 22.08], 74],
 [[-157.83, 21.31], 807],
 [[-156.54, 20.9], 0],
 [[-158.01, 21.54], 0],
 [[-158.0, 21.38], 495],
 [[-159.56, 21.93], 10],
 [[-156.05, 20.75], 0],
 [[-156.36, 20.81], 28],
 [[-158.17, 21.43], 98],
 [[-157.75, 21.37], 22]]

In [37]:
LongLatCount

[[[-159.38, 22.08], 74],
 [[-157.83, 21.31], 807],
 [[-156.54, 20.9], 0],
 [[-158.01, 21.54], 0],
 [[-158.0, 21.38], 495],
 [[-159.56, 21.93], 10],
 [[-156.05, 20.75], 0],
 [[-156.36, 20.81], 28],
 [[-158.17, 21.43], 98],
 [[-157.75, 21.37], 22]]